<div class="auth-container">
  <div class="auth-container__body" [formGroup]="form">
    <h3 class="text-center form-item-margin">Welcome Back!</h3>
    <div class="form-item-margin">
      <input class="w-100 form-control auth-field" type="email" placeholder="Email*" formControlName="email" />
    </div>

    <div class="form-item-margin">
      <input class="w-100 form-control auth-field" type="password" placeholder="Password*" formControlName="password" />
    </div>
    <div>
      <button class="w-100 btn btn-auth" type="submit" (click)="onLogin()">Log In</button>
    </div>
    <div class="text-center form-item-margin">
      <small>
        Your user login & data will be deleted
        <br />
        on container restart, and happens so
        <br />
        often as I'm running this on Free Tier
        <br />
      </small>
    </div>
  </div>
  <div class="auth-message-box">
    <p>Don't have an account? <a href="/registration">Register</a></p>
  </div>
</div>
