<div class="auth-container">
  <div class="auth-container__body" [formGroup]="form">
    <h3 class="h-normalize form-item-margin">Welcome Back!</h3>
    <div class="form-item-margin">
      <input class="w-100 form-control" type="email" placeholder="Email*" formControlName="email" />
    </div>

    <div class="form-item-margin">
      <input class="w-100 form-control __auth-field" type="password" placeholder="Password*" formControlName="password" />
    </div>
    <div>
      <button class="w-100 btn btn-auth" type="submit" (click)="onLogin()">Log In</button>
    </div>
    <div class="form-item-margin">
      <small class="p-normalize">
        <p>Your user login & data will be deleted</p>
        <p>on container restart, and happens so</p>
        <p>often as I'm running this on Free Tier</p>
      </small>
    </div>
  </div>
  <div class="auth-message-box">
    <p>
      Don't have an account? 
      <a href="/registration">Register</a>
    </p>
  </div>
</div>
