.header{
    display: flex;
    height: 5rem;
    border-bottom: 0.1rem solid #bbc0c4;

    &__left-container{
        flex: 10;
        border: none;
        display: flex;
        align-items: center;
        justify-content: start;

    }

    &__right-container{
        flex: 1;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__input-container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40rem;
        height: 70%;
        border: 0.1rem outset;
        background-color: white;
        border-radius: 1rem;
        padding: 0 1rem;
    }

    &__input {
        width: 100%;
        border: none;
        outline: none;
        padding: 0 1rem;
        background-color: inherit;
    }
}

.__offset{
    margin-left: 1rem;
}