.header {
  display: flex;
  height: 5rem;
  border-bottom: 0.1rem solid #bbc0c4;
  position: relative;

  .left-container {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    width: 100%;
  }

  .right-container {
    display: flex;
    border: none;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 40rem;
    width: 100%;
    height: 70%;
    border: 0.1rem outset;
    border-radius: 1rem;
    box-sizing: border-box;

  }
}

._offset {
  margin: 0 1rem;
}
