<div tabindex="-1" (focusin)="focusIn.emit(todo)" (focusout)="onTodoFocusOut($event)">
  <input class="form-control w-100" type="text" [(ngModel)]="todo.title"/>
  <div>
    <textarea class="form-control textarea-field w-100">{{ convertNoteArrayToText(todo.notes) }}</textarea>
  </div>
  <div class="buttons-block">
    <button class="btn-icon bi bi-palette" *ngIf="false"></button>
    <button class="btn-icon bi bi-check-square" *ngIf="false"></button>
    <button class="btn-icon bi bi-tag" *ngIf="false"></button>
    <button class="btn-icon bi-file-earmark" (click)="onCopyTodoClick(todo.id)"></button>
    <button class="btn-icon bi bi-trash" (click)="onDeleteTodoClick(todo.id)"></button>
  </div>
</div>
