<input
  class="form-control w-100"
  type="text"
  placeholder="Title"
  (focus)="onExpandForm(true)"
  [(ngModel)]="todo.title"
/>
<div *ngIf="isFormExpanded">
  <div>
    <textarea class="form-control textarea-field w-100" placeholder="Take a note" [(ngModel)]="todoNotes"></textarea>
  </div>
  <div class="action-block">
    <div class="tools-group">
      <button class="btn-icon bi bi-palette" *ngIf="false"></button>
      <button class="btn-icon bi bi-check-square" *ngIf="false"></button>
      <button class="btn-icon bi bi-tag" *ngIf="false"></button>
    </div>
    <button class="btn btn-secondary" (click)="onCreateTodoClick()">Close</button>
  </div>
</div>
