<div class="auth-container">
    <div class="auth-container__body">
        <div class="element-offset"><h1>Hello!</h1></div>
        <div class="element-offset">
            <input class="form-control__input" type="text" placeholder="Name*">
        </div>
        <div class="element-offset">
            <div><input class="form-control__input" type="email" placeholder="Email*"></div>
        </div>
        <div class="element-offset">
            <input class="form-control__input" type="password" placeholder="Password*">
        </div>
        <div class="element-offset">
            <button class="btn" type="submit" >Register</button>
        </div>
        <div class="element-offset">
            <small>
                <p>Your user login & data will be deleted</p>
                <p>on container restart, and happens so</p>
                <p>often as I'm running this on Free Tier</p>
            </small>
        </div>
    </div>
    <div class="auth-message-box">
        Already have an account?
        <a href="/login">Log In</a>
    </div>
</div>
