@import 'src/assets/styles/_colors.scss';

.add-todo-block {
  display: block;
  border: 0.1rem outset $gray-lighter;
  border-radius: 1rem;
  max-width: 40rem;
  width: 100%;
  padding: 1rem;
}

.todo-list-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
