@import "./assets/styles/normalize";
@import "./assets/styles/fonts";
@import "./assets/styles/blocks/form-control";
@import "./assets/styles/blocks/button";
@import "./assets/styles/blocks/auth-container";
@import "./assets/styles/blocks/header-container";
@import "./assets/styles/blocks/notes-container";
@import "./assets/styles/blocks/menu-container";

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

