@import '../colors';

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__body {
    border: 0.2rem outset $gray-lighter;
    border-radius: 1rem;
    padding: 0 0.75rem;
    min-width: 15rem;
  }
}

.form-item-margin {
  margin: 1.5rem 0;
}

.auth-message-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}
