@import '../colors';

.btn {
  font-weight: 600;
  border-radius: 0.5rem;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &-auth{
    border: none;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: $orange;
  }

  &-logout{
    padding: 0.75rem 1rem;
    border: 0.1rem solid $gray;
    background-color: inherit;
  }

  &-secondary {
    background-color: $white;
    color: $primary;
    box-shadow: inset 0px 0px 0px 1px $primary;
  }


  &-success {
    background-color: $success;
  }

  &-icon {
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    padding: 0;

    &:disabled {
      background-color: transparent;
      color: $gray-lighter;
      cursor: not-allowed;
    }
  }

  &:disabled {
    background-color: $gray-light;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    border: 1px solid $gray-light;
  }
}


.add-btn {
  position: fixed;
  font-size: 3rem;
  bottom: 30px;
  right: 30px;
  padding: 0.5rem;
  background-color: #3ba5ca66;
  color: $white;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;

  &:hover {
    opacity: 0.8;
    transform: rotate(270deg);
    transition: all 0.5s ease-in-out;
    color: $white;
  }
}

.w{
  &-100{
    width: 100%;
  }
}