@import '../colors';

.form-control {
  height: 3.5rem;
  padding: 0 1rem;
  outline: none;
  box-sizing: border-box;
  border: none;
}

.__textarea {
  min-height: 5rem;
}

.__auth-field{
  border: 0.1rem solid $gray-light;
  border-radius: 0.5rem;
}

