@import '../colors';

.form-control {
  outline: none;
  box-sizing: border-box;
  border: none;
  &.ng-invalid.ng-touched {
    border: 1px solid $danger;
  }
}

.auth-field {
  border: 0.1rem solid $gray-light;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 1rem;
}

.textarea-field {
  min-height: 3.5rem;
  margin: 0.5rem 0;
  padding: 0;
  resize: none;
}
